/* ================= HERO SECTION ================= */
.hero-section {
  background: linear-gradient(to right, #f8f9fa, #eef2ff);
}

/* Badge */
.hero-badge {
  background-color: black;
  color: #1d4ed8;
  font-size: 0.85rem;
  padding: 6px 14px;
 
}

/* Title */
.hero-title {
  font-size: 2.6rem;
  font-weight: 800;
  color: #111827;
}

/* Role */
.hero-role {
  font-size: 1.25rem;
  font-weight: 600;
  color: #374151;
  margin-top: 8px;
}

/* Description */
.hero-desc {
  font-size: 1rem;
  color: #4b5563;
  margin: 18px 0;
  line-height: 1.6;
  max-width: 520px;
}

/* ================= TECH STACK (BLACK & WHITE) ================= */
.tech-badge {
  background-color:black;
  color: #000000;
  /* border: 1px solid #000000; */
  padding: 6px 14px;
  font-size: 0.85rem;
  font-weight: 500;
  /* border-radius: 16px; */
}

/* Social icons */
.hero-social a {
  font-size: 1.6rem;
  color: #111827;
  transition: color 0.2s ease;
}

.hero-social a:hover {
  color: #1d4ed8;
}

/* Image */
.hero-img {
  max-width: 420px;
}
